index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="./styles/style.css")
  body 
    main.wrapper
      .container
        .content
          .content-img 
            img(src="./images/image-equilibrium.jpg", alt="")
          .content-body 
            h2 Equilibrium #3429
            p Our Equilibrium collection promotes balance and calm. 
          .content-count
            .content-count_eth 
              span 0.041 ETH
            .content-count_time 
              span 3 days left
          .content-footer 
            img(src="./images/image-avatar.png", alt="")
            p
              span Creation of 
              | Jules Wyvern
    

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
  </head>
  <body> 
    <main class="wrapper">
      <div class="container">
        <div class="content">
          <div class="content-img"> <img src="./images/image-equilibrium.jpg" alt=""></div>
          <div class="content-body"> 
            <h2>Equilibrium #3429</h2>
            <p>Our Equilibrium collection promotes balance and calm. </p>
          </div>
          <div class="content-count">
            <div class="content-count_eth"> <span>0.041 ETH</span></div>
            <div class="content-count_time"> <span>3 days left</span></div>
          </div>
          <div class="content-footer"> <img src="./images/image-avatar.png" alt="">
            <p><span>Creation of </span>Jules Wyvern</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
